body, html { background-color: #669999; }

#package-header {
	color: white;
}

.container {
	width: 100% !important; 
}

#package-list {
	list-style: none;
	display: inline-block;
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
  padding-right: 10px;
  padding-bottom: 10px;
}
#package-list-recommended {
	list-style: none;
	display: inline-block;
  background-image: -webkit-linear-gradient(top, #00ff00, #00cc00);
  background-image: -moz-linear-gradient(top, #00ff00, #00cc00);
  background-image: -ms-linear-gradient(top, #00ff00, #00cc00);
  background-image: -o-linear-gradient(top, #00ff00, #00cc00);
  background-image: linear-gradient(to bottom, #00ff00, #00cc00);
  padding-right: 10px;
  padding-bottom: 10px;
}

#package-list-name {
	font-size: 1.4em;
}

p#package-recommended {
	font-size: 1.6em;
}

#package-list-feature {
	border-top: 1px solid white;
}

#select-package {
	padding-top: 1%;
	padding-bottom: 1%;
}

#button-select {
	color: black;
}


button.recSelectButton {
	color: black;
	text-decoration: none;
	display: block;
	height: 100px;
	width: 300px;
	background: #00b300;
	border: 2px solid rgba(33, 68, 72, 0.59);

	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: bold 2em/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	background: -webkit-linear-gradient(top, #00b300, #00cc00);
	background: -moz-linear-gradient(top, #00b300, #00cc00);
	background: -o-linear-gradient(top, #00b300, #00cc00);
	background: -ms-linear-gradient(top, #00b300, #00cc00);
	background: linear-gradient(top, #00b300, #00cc00);

	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: 0 8px 0 #009900;
	-moz-box-shadow: 0 8px 0 #009900; 
	box-shadow: 0 8px 0 #009900;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

button.recSelectButton:hover {
	background: #3d7a80;
	background: -webkit-linear-gradient(top, #00e600, #00b300);
	background: -moz-linear-gradient(top, #00e600, #00b300);
	background: -o-linear-gradient(top, #00e600, #00b300);
	background: -ms-linear-gradient(top, #00e600, #00b300);
	background: linear-gradient(top, #00e600, #00b300);
}

button.SelectButton {
	color: black;
	text-decoration: none;
	display: block;
	height: 100px;
	width: 300px;
	background: #cccccc;
	border: 2px solid #cccccc;

	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: bold 2em/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	background: -webkit-linear-gradient(top, #d9d9d9, #bfbfbf);
	background: -moz-linear-gradient(top, #d9d9d9, #bfbfbf);
	background: -o-linear-gradient(top, #d9d9d9, #bfbfbf);
	background: -ms-linear-gradient(top, #d9d9d9, #bfbfbf);
	background: linear-gradient(top, #d9d9d9, #bfbfbf);

	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: 0 8px 0 #b3b3b3;
	-moz-box-shadow: 0 8px 0 #b3b3b3; 
	box-shadow: 0 8px 0 #b3b3b3;
	text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

button.SelectButton:hover {
	background: #3d7a80;
	background: -webkit-linear-gradient(top, #e6e6e6, #f2f2f2);
	background: -moz-linear-gradient(top, #e6e6e6, #f2f2f2);
	background: -o-linear-gradient(top, #e6e6e6, #f2f2f2);
	background: -ms-linear-gradient(top, #e6e6e6, #f2f2f2);
	background: linear-gradient(top, #e6e6e6, #f2f2f2);
}

h2#package-header {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 72px;
	text-align: center;
}

li#package-list-name {
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 28px;
	line-height: 24px;
	margin: 20px 0 24px;
	text-align: center;
	text-justify: inter-word; 
}

li#package-list-description, li#package-list-price, li#package-list-feature {
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 24px;
	text-align: center;
	text-justify: inter-word; 
}